[Desktop Entry]
Type=Application
Name=En Parlant~
Exec=en-parlant %f
Icon=en-parlant
StartupWMClass=en-parlant
StartupNotify=false
Comment=Chess Database with TTS
Categories=Game;BoardGame;
Terminal=false
MimeType=application/x-chess-pgn;application/vnd.chess-pgn;
